*{
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/background-pizza.png") 0 0 no-repeat;
    background-size: contain;
	background-color: #131313;
    
}
#banner {
    background-color: rgba(0, 0, 0, .5);
    height: 123px;
    padding: 30px 72px 0px 70px;
}
#banner h1 {
    float: left;
    margin: 0;
}
#banner nav {
    float: right;
    position: relative;
    top: 30px;
}
#banner ul {
    margin: 0;
}
#banner nav ul li {
    display: inline-block;
    width: 100px;
}
#banner nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
#vantagens ul {
    list-style: none;
    float: left;
    margin: 30px 0 150px 0;
}
#vantagens ul li {
    font-family: 'Reenie Beanie', cursive;
    color: #fff;
    font-size: 50px;
    margin: 5px;
}
#vantagens ul li::before {
    content: "\00b0 ";
    color: #fbcb39;
    font-family: sans-serif;
    font-size: 1em;
    vertical-align: bottom;
    margin: 25px 10px 0 10px;
}
h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    float: left;
    margin: 50px 45%;
}
section {
	clear: both;
	padding: 30px 72px 0 72px;
	position: relative;
	margin:0 0 50px 0;
}
#sabores-pizzas img {
    display: block;
    clear: both;
    margin: 0 10%;
}
#sabores-pizzas table {
    width: 100%;
    background-color: #2a2a2a;
    clear: both;
    border-collapse: collapse;
    margin-top: 100px;
}
#sabores-pizzas table td,
#sabores-pizzas table th {
    border: 1px #000 solid;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    width: 20%;
}
#sabores-pizzas .texto-negativo {
    color: #fb3958;
}
#sabores-pizzas .texto-positivo {
    color: #87b507;
}
form {
    clear: both;
    margin: 0 30%;   
}
form label{
	margin:15px 0;
    color: #fff;
	display: block;
	text-transform: uppercase;
}
form input, form textarea{
	border:1px solid #2a2a2a;
	height: 10px;
	width: 500px;
	border-radius: 30px;
	background-color: transparent;;
	display: block;
	padding: 25px 25px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-style: italic;
}
form textarea{
	height: 200px;
	font-size: 0.75em;
}

input[type="submit"] {
    width: 555px;
    margin: 25px 0;
    padding-top: 15px;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

footer {
    height: 100px;
    background-color: #2a2a2a;
    position: relative;
    padding: 35px 0 10px 0;
}
footer a {
    display: block;
    text-align: center;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}
#sabores-pizzas {
    padding-bottom: 60px;
    margin-top: 400px;
}
